@model Ecommerce.Models.Purchase.PurchaseOrderEntity

@{
    ViewBag.Title = "AddOrder";
}

<h2>Add Purchase Order</h2>


@using (Html.BeginForm("AddOrder", "Purchase", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div style="padding-left:16px">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="mb-3 row">
        <label for="@Html.IdFor(file => file.OrderTitle)" class="form-label m-1">Title</label>
        @Html.EditorFor(model => model.OrderTitle, new { htmlAttributes = new { @class = "form-control ms-3 col-9" } })
        @Html.ValidationMessageFor(model => model.OrderTitle, "", new { @class = "text-danger m-1" })
    </div>
    <div class="mb-3 row">
        <label for="@Html.IdFor(file => file.OrderFile)" class="form-label m-1">Purchase Order</label>
        <div class="row m-1">
            <input type="file" name="@Html.NameFor(file => file.OrderFile)" id="@Html.IdFor(file => file.OrderFile)" class="form-control" accept=".pdf"/>
            @Html.ValidationMessageFor(model => model.OrderFile, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="mb-3 form-check form-switch">
        <input class="form-check-input" type="checkbox" id="filePreview" disabled>
        <label class="form-check-label" for="filePreview">Preview</label>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-10">
            <div id="pdfContainer" hidden>
                <iframe id="pdfFrame" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>
}

<!--<div>
    @Html.ActionLink("Back to Purchase Orders", "GetAllOrders")
</div>-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Purchase/AddOrder.js"></script>
}

@section Styles {
    <link href="~/Styles/Purchase/AddOrder.css" rel="stylesheet" />
}
