@model List<Ecommerce.Models.Purchase.PurchaseOrderEntity>

@{
    ViewBag.Title = "GetAllOrders";
}

<h2>GetAllOrders</h2>

<p>
    @Html.ActionLink("Create New", "AddOrder")
</p>

@if(Model != null && Model.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].OrderTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].OrderPdfPath)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderPdfPath)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("ViewOrder", "ViewOrder", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
}


